body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* page name */
  text-align: left;
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: maroon;
  text-align: center;
  background:white;
}

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

hr {
  border-color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
#collapsable-nav {
  background-color: white;
}

#main-content {
    width: 100%;
    height: auto;
    overflow: auto;
    color: black;
    background-color: grey;
    margin-right: 10px;
    margin-bottom: 30px;
}

li {
  border-color: black;
}

/********** Large devices only **********/
@media (min-width: @screen-lg-min) {
  #button {
    display:none;
  }
  #header-nav {
    padding-bottom: 20px;
  }

}


/********** Medium devices only **********/
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  /* Header */
  #button {
    display:none;
  }
  #header-nav {
    padding-bottom: 20px;
  }
      /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  /* Home Page */
  #header-nav {
    padding-bottom: 20px;
  }

      /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: @screen-xs-max) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 70px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

}

h2, section {
  text-align: center;
  margin-right: 10px;
}
